{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-6 col-sm-12 mb-xl-0 mb-4">
                <div class="card  d-flex">
                    <div class="card-header p-3 pt-2">
                        <div class="pt-1">
                            <h4 class="text-sm mb-0 text-capitalize">Normal picture</h4>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <img id="inp" src="#" alt="your image"/>
                    </div>

                    <hr class="dark horizontal my-0">
                    <div class="card-footer p-3 text-center">
                        <input type="file" name="filename" onchange="readURL(this);"
                               accept="image/gif, image/jpeg, image/png">
                    </div>

                </div>
            </div>
            <div class="col-xl-6 col-sm-12 mb-xl-0 mb-4">
                <div class="card  d-flex">
                    <div class="card-header p-3 pt-2">
                        <div class="pt-1">
                            <h4 class="text-sm mb-0 text-capitalize">Greyscale</h4>
                        </div>
                    </div>


                    <div class="card-body text-center">
                        <img id="grey" src="#" alt="your image"/>
                    </div>
                    <div class="card-footer">
                        <div class="input-group input-group-dynamic mb-4">
                            <input type="text" class="form-control" placeholder="Download name"
                                   aria-label="Download name"
                                   id="downloadName"
                                   aria-describedby="basic-addon1">
                        </div>
                        <button id="downloadBtn" type="button" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        var image;
        var customFileName;

        function readURL(input) {
            try {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#inp').attr('src', e.target.result).width(600).height(600);
                    };
                    reader.readAsDataURL(input.files[0]);

                    var fd = new FormData();
                    fd.append('file', input.files[0]);
                    $(function () {
                        $.ajax({
                            type: 'POST',
                            url: '/upload',
                            data: fd,
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function (response) {
                                var bytestring = response.img
                                image = bytestring.split('\'')[1]
                                $('#grey').attr('src', 'data:image/jpeg;base64,' + image).width(600).height(600);
                            },
                            error: function (response) {
                                console.error(response);
                                alert("Error of input file, cannot greyscale");
                            },
                            async: true,
                        });
                    })
                }
            }
            catch (e) {
                console.error(e);
                 alert("Error reading file");
            }
        }

        $("#downloadBtn").click(function () {
            if (image === undefined){return}
            var downName = $("#downloadName").val()
            var newFilename = (downName !== '' ? downName : "output") + '.png'
            var dl = document.createElement('a');
            dl.setAttribute('href', 'data:image/jpeg;base64,' + image);
            dl.setAttribute('download', newFilename);
            dl.click();
        });

    </script>

{% endblock javascripts %}
